* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-blue: #131e34;

  --secondary-blue: #072a51;
  --accent: #ffd92e;
  --accent-hover: #f1cc2a;

  --secondary-blue: #1e2c48;

  --font-main: #f5f8ff;
  --font-secondary: #b7bed1;
  --font-tertiary: #758fc2;
}

body {
  background-color: var(--main-blue);
  font-family: "Helvetica", sans-serif;
  color: var(--font-main);
  line-height: 1.15;
}

.siteContainer {
  height: 100%;
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 2rem;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}

form input {
  background-color: transparent;
  border: 2px solid var(--secondary-blue);
  border-radius: 12px;
  color: var(--font-secondary);
  height: 55px;
  padding-left: 1rem;
  font: inherit;
}

dialog {
  border: none;
  border-radius: 15px;
  color: var(--font-primary);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}
