.landingPage {
  display: grid;
  grid-template-rows: 85px 1fr;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.landingContent {
  position: relative;
}

.landingText {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
}

.landingContent h1 {
  font-size: 2.75rem;
}

.accentText {
  color: var(--accent);
}

.linkBtnMain,
.btnMain {
  align-items: center;
  border: 3px solid var(--accent);
  border-radius: 12px;
  color: var(--font-main);
  display: flex;
  font: inherit;
  height: 60px;
  justify-content: center;
  width: 135px;
}

.linkBtnMain:hover,
.btnMain:hover {
  background-color: var(--accent);
  color: var(--secondary-blue);
}
