.formSubmitBtn {
  background-color: var(--accent);
  border-radius: 10px;
  color: var(--secondary-blue);
  height: 50px;
  width: 100%;
}

.formSubmitBtn:hover {
  background-color: var(--accent-hover);
}

.errorText {
  color: rgb(255, 50, 50);
}
