.flashCard,
.flashCardHalfWidth {
  align-items: center;
  border: 3px solid var(--secondary-blue);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}

/* .flashCardHalfWidth {
  max-width: 50%;
} */

.flashCard:hover,
.flashCardHalfWidth:hover {
  background-color: var(--secondary-blue);
}

.flashCard p,
.flashCardHalfWidth p {
  color: var(--font-tertiary);
  color: var(--font-tertiary);

  font-size: 1.15rem;
}
